$primary-color: #db3022;
$primary-color-hover: #cc2b1d;
$icon-color: #a5a5a5;

.Navbar {
  width: 100%;
  // position: fixed;
  top: 0;
  z-index: 1000;

  .ic {
    color: $icon-color;
  }

  #blanja-header {
    width: 100%;
    height: 80px;
    padding-left: 7rem;
    padding-right: 7rem;
    background-color: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.07);
  }

  .filters {
    width: 40px;
    height: 40px;
    margin-left: 0.5rem;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(228, 228, 228);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .filters:hover {
    background-color: rgb(228, 228, 228);
  }

  .search {
    position: relative;

    input {
      text-indent: 0.5rem;
      margin-right: 0.5rem;
      border-width: 2px;
      border-color: rgb(228, 228, 228);
      border-radius: 50px;
    }

    input:focus {
      border-color: $primary-color !important;
      box-shadow: 0px 0px 5px 1px $primary-color;
    }

    #ic-search {
      position: absolute;
      top: calc(25%);
      right: 2rem;
    }
  }

  .action {
    margin-left: 100px;

    .btn-primary {
      padding-left: 2rem;
      padding-right: 2rem;
      background-color: $primary-color;
      border-color: $primary-color;
    }

    .btn-primary:hover {
      background-color: $primary-color-hover;
      border-color: $primary-color-hover;
    }

    .btn-light {
      padding-left: 2rem;
      padding-right: 2rem;
      background-color: white;
    }

    .btn-light:hover {
      background-color: rgb(228, 228, 228);
    }

    .menu {
      display: none !important;
      visibility: hidden;
    }
  }

  @media only screen and (max-width: 575px) {
    #blanja-header {
      height: 50px;
      padding-left: 5px;
      padding-right: 5px;
      background-color: $primary-color;
    }

    .main-nav {
      margin-right: 0px;
    }

    .logo {
      display: none;
      visibility: hidden;
    }

    .search {
      input {
        height: 10%;
        margin-right: 0rem;
        border-radius: 7px;
      }

      #ic-search {
        top: calc(30%);
        right: 1.5rem;
      }
    }

    .filters {
      width: 30px;
      height: 30px;
      margin-left: 0rem;
      border-style: hidden;
      background-color: transparent;

      #ic-filters {
        color: white;
      }
    }

    .filters:hover {
      background-color: transparent;
    }

    .action {
      margin-left: 0px;

      .btn-login {
        display: none;
        visibility: hidden;
      }

      .btn-regis {
        display: none;
        visibility: hidden;
      }

      #ic-shopping-cart {
        color: white;
      }

      .menu {
        display: block !important;
        visibility: visible;
      }
    }

    .card {
      width: 35vw;
    }
  }
}
