.Dashboard {
  #carousel {
    margin-top: 50px;
    margin-bottom: 25px;
  }

  #category-list,
  #new-product,
  #popular-product {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  @media only screen and (max-width: 575px) {
    #carousel {
      margin-top: 24px;
      margin-bottom: 12px;
    }

    #category-list,
    #new-product,
    #popular-product {
      margin-top: 12px;
      margin-bottom: 12px;
    }
  }
}
