#profile-page {
  overflow-x: hidden;

  .page-content {
    position: absolute;
    background-color: white;
    width: 65%;
    height: 75%;
    top: 20%;
    left: 30%;
    padding: 10px 10px;
    border-radius: 5px;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;

    input[type="file"] {
      display: none;
    }

    .btn-label label {
      display: block;
      position: relative;
      border-width: 1px;
      border-style: solid;
      color: #9b9b9b;
      font-size: 13px;
      text-align: center;
      width: 130px;
      padding: 8px 5px;
      border-radius: 40px;
      margin: auto;
      cursor: pointer;
    }

    .input-group-append {
      cursor: pointer;
    }

    // my-order-style
    .my-order-nav {
      position: relative;
      right: 1em;
    }

    .text-link a {
      list-style: none;
      padding: 14px 16px;
      white-space: nowrap;
      color: #9b9b9b;
    }

    .text-link {
      transition: all 0.32s ease 0s;
    }

    .text-link a:hover {
      color: #db3022;
      font-weight: 600;
      border-bottom: 3px solid #db3022;
    }

    .text-on {
      color: #db3022 !important;
      font-weight: bold;
      border-bottom: 3px solid #db3022;
    }
  }

  .page-content p {
    white-space: nowrap;
    color: #9b9b9b;
  }

  .page-content hr {
    border-width: 1px;
    border-color: #9b9b9b;
  }

  .page-content button {
    position: absolute;
    background-color: #db3022 !important;
    border: none;
    color: white;
    border-radius: 22px;
    text-decoration: none;
    right: 70%;
    left: 20%;
    padding: 10px 5px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  #profile-page {
    .page-content {
      position: absolute;
      width: 85%;
      top: 10%;
      left: 10%;
      padding: 20px;
      /* Adjust padding for mobile layout */

      background-color: white;
    }
  }
}

@media screen and (max-width: 768px) {
  #profile-page {
    .page-content {
      position: absolute;
      width: 75%;
      height: 90%;
      top: 12%;
      left: 18%;
      padding: 20px;
      background-color: white;
      z-index: 1;
    }

    .mobile-position {
      order: 1;
    }

    .page-content button {
      top: 90%;
      right: 5%;
      left: 70%;
      padding: 5px 5px;
    }
  }
}
